
@keyframes typingDotAnimation {
    0% {
        top: 0;
        opacity: 1;
    }
    50% {
        top: -4px;
        opacity: 0.75;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

.typingDot {
    position: relative;
    background-color: #666;
    margin: 0 2px;
    border-radius: 50%;
    animation-name: typingDotAnimation;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.typingDotOne {
    animation-delay: 333ms;
}

.typingDotTwo {
    animation-delay: 666ms;
}

.typingDotThree {
    animation-delay: 999ms;
}